<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>myStrom lightbulb API</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    </head>

    <body>
        <section class="hero is-link">
            <div class="hero-body">
                <div class="container">
                <h1 class="title" ">
                    myStrom Wifi Bulb Controller
                </h1>
                <h2 class="subtitle">
                    Using REST API
                </h2>
                </div>
            </div>
        </section>

        <section class="hero is-large">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Instructions</h1>
                    <h2 class="subtitle">
                        Assign colors to the boxes below and enjoy the lights.
                    </h2>

                    <div class="columns">
                        <div class="column">
                            <a id="step_0" onclick="toggleColorPickerModal(0)" class="button is-fullwidth">
                                0
                            </a>
                        </div>
                        <div class="column">
                            <a id="step_1" onclick="toggleColorPickerModal(1)" class="button is-fullwidth">
                                1
                            </a>
                        </div>
                        <div class="column">
                            <a id="step_2" onclick="toggleColorPickerModal(2)" class="button is-fullwidth">
                                2
                                </a>
                        </div>
                        <div class="column">
                            <a id="step_3" onclick="toggleColorPickerModal(3)" class="button is-fullwidth">
                                3
                                </a>
                        </div>
                        <div class="column">
                            <a id="step_4" onclick="toggleColorPickerModal(4)" class="button is-fullwidth">
                                4
                                </a>
                        </div>
                        <div class="column">
                            <a id="step_5" onclick="toggleColorPickerModal(5)" class="button is-fullwidth">
                                5
                                </a>
                        </div>
                        <div class="column">
                                <a id="step_6" onclick="toggleColorPickerModal(6)" class="button is-fullwidth">
                                    6
                                    </a>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <a onclick="run()" class="button is-fullwidth is-light" style="border-color: rgb(228, 228, 228);">
                                <b>Run</b>
                            </a>
                        </div>
                    </div>

                <div id="colorPickerModal" class="modal">
                    <div class="modal-background" onclick="toggleColorPickerModal()"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Select a color</p>
                            <button class="delete" aria-label="close" onclick="toggleColorPickerModal()"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="card-content" >
                                <div class="content" v-if="emailSent && !sendingEmail">
                                    <div class="field">
                                        <p class="control">
                                            <a onclick="selectColor('ff0000')" class="button" style="background-color:#ff0000" ></a>
                                            <a onclick="selectColor('ff4000')" class="button" style="background-color:#ff4000" ></a>
                                            <a onclick="selectColor('ff8000')" class="button" style="background-color:#ff8000" ></a>
                                            <a onclick="selectColor('ffbf00')" class="button" style="background-color:#ffbf00" ></a>
                                            <a onclick="selectColor('ffff00')" class="button" style="background-color:#ffff00" ></a>
                                            <a onclick="selectColor('40ff00')" class="button" style="background-color:#40ff00" ></a>
                                            <a onclick="selectColor('086108')" class="button" style="background-color:#086108" ></a>
                                            <a onclick="selectColor('00ffff')" class="button" style="background-color:#00ffff" ></a>
                                            <a onclick="selectColor('0080ff')" class="button" style="background-color:#0080ff" ></a>
                                            <a onclick="selectColor('4c4cdd')" class="button" style="background-color:#4c4cdd" ></a>
                                            <a onclick="selectColor('0000ff')" class="button" style="background-color:#0000ff" ></a>
                                            <a onclick="selectColor('8000ff')" class="button" style="background-color:#8000ff"></a>
                                            <a onclick="selectColor('ff00ff')" class="button" style="background-color:#ff00ff"></a>
                                            <a onclick="selectColor('ffa1ff')" class="button" style="background-color:#ffa1ff"></a>
                                            <a onclick="selectColor('ffffff')" class="button" style="background-color:#ffffff"></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button is-danger" onclick="toggleColorPickerModal()">close</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="hero is-light is-large">
                <div class="hero-body">
                    <div class="container">
                    <p class="title">Documentation and Setup</p>
                    <hr>
                            <p class="subtitle">myStrom API</p>
                            <p>All myStrom devices offer a REST API (REST = representational State Transfer).
                            The interface allows you to access/control the device directly from your local network independently of myStrom.
                            That means you don’t need a myStrom account or the myStrom app. With this documentation you can integrate myStrom devices in almost any environment.
                            This project is heavily based on myStrom's API.</p>

                            <p>Check out the myStrom API documentation at <a href="https://api.mystrom.ch/?version=latest/" class="is-link" target="blank">api.mystrom.ch</a>.</p>

                            <br>

                            <p class="subtitle"> Setup and Requirements</p>
                            <ol>
                                <li>
                                    Download PHP using your package manager for <a href="https://tecadmin.net/install-php-macos/" target="blank">macOs</a>
                                    or <a href="https://hostadvice.com/how-to/how-to-install-apache-mysql-php-on-an-ubuntu-18-04-vps/" target="blank">Linux</a> or just get an executable from
                                    <a href="https://www.apachefriends.org/download.html" target="blank">XAMPP</a> for Windows users.
                                </li>
                                <li>
                                    Configure the IP and MAC address in js/app.js as shown in the README.md file.
                                </li>
                                <li>
                                    Run the php command that is shown in the README.md file to run the local server.
                                </li>
                            </ol>
                            </p>
                    </div>
                </div>
            </section>
    </body>
    <!-- jQuery is a fast, small, and feature-rich JavaScript library.-->
    <!-- http://jquery.com/ -->
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="js/app.js"></script>
    <style>
        .title {
            padding-bottom: 10px;
        }
        a {
            color: #4286f4;
            text-decoration: underline;
        }
    </style>
</html>